{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('S\'incrire') }}</button>
    {{ form_end(form) }}
{% endblock %}