{% extends 'base.html.twig' %}

{% block title %}Edit Evaluations{% endblock %}

{% block body %}
    <h1>Edit Evaluations</h1>

    {{ include('evaluations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('evaluations_index') }}">back to list</a>

    {{ include('evaluations/_delete_form.html.twig') }}
{% endblock %}