{% extends 'base.html.twig' %}

{% block title %}New Evaluations{% endblock %}

{% block body %}
    <h1>Create new Evaluations</h1>

    {{ include('evaluations/_form.html.twig') }}

    <a href="{{ path('evaluations_index') }}">back to list</a>
{% endblock %}