{{ form_start(form) }}
    {{ form_row(form.Login) }}
    {{ form_row(form.Mdp) }}


	<input type="hidden" name="login" value="/" />

    <button type="submit">Se connecter !</button>


{{ form_end(form) }} 