{% extends "base.html.twig" %}

{% block title %}Hello{% endblock %}
{% block description %} {% endblock %}
{% block keywords %} {% endblock %}
{% block body %}

    {{ dump(form) }}
    <div class="container">
        {# templates/commentary/new.html.twig #}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn" value="Create" />
        {{ form_end(form) }}
    </div>



{% endblock %}