{% extends 'base.html.twig' %}

{% block title %}Evaluations{% endblock %}

{% block body %}
<h1>Les evaluations</h1>

    <ul class="list-unstyled mt-3">
        {% for eval in bar.evaluations %}
            <li class="comment-item media shadow p-3 mb-3 bg-white rounded">
                <div class="media-body">
                    <h5 class="mt-0 mb-1 text-primary">
                        Notes : {{ eval.value }}
                    </h5>
                </div>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('bars_show', {'id': bar.id}) }}">retour</a>
{% endblock %}
