@import "../node_modules/bootstrap/scss/bootstrap";
$enable-shadows: true;
$enable-rounded: true;
@keyframes BallonLogo {
  From {
    transform: rotate(0turn);
  }
  To {
    transform: rotate(1turn);
  }
}

.main-logo {
  margin-right: 2rem;
  width: 6rem;
  transition: 0.3s ease-in;

  &:hover {
    transform: scale(1.1);
  }
}

.comment-item {
  transition: 0.2s linear;

  &:hover{
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45) !important;
  }
}

.main-logo-animate {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  animation: BallonLogo 2s linear infinite;
}

.background-banner {
  background-image: url(/images/bar.jpeg);
  background-size: cover;
  background-position: 10% 20%;
}

.commentary-item {
  margin-top: 3rem;
}

.max-height-photos{
  height : 200px;
}
.btn-show {
  background-color: #93c736;
  color: #FFF;
  padding: 0.3rem 1.4rem;
  border-radius: 12px;
  font-weight: bold;

  &:hover {
    color:white;
  }
}


.btn-edit {
  background-color: #e35418;
  color: #FFF;
  padding: 0.3rem 1.4rem;
  border-radius: 12px;
  font-weight: bold;
  &:hover {
    color:white;
  }
}

.card-body {
  padding: 1rem 0;
}